/*************\
* BASE STYLES *
\*************/

:root {
  font: 12pt/16pt 'Source Sans Pro', sans-serif;
  --gutter: 12pt;
  --primary: #d35400;
  --sidebar-width: 240pt;
}

body {
  margin: var(--gutter);
}

h1 {
  font-size: 36pt;
  font-weight: 200;
  line-height: 48pt;
  margin: 36pt 0;
  letter-spacing: -1.5pt;
}

h2,
.menu__title {
  /* Note, includes non-base style */
  font-size: 18pt;
  font-weight: 300;
  margin: 32pt 0 12pt;
  letter-spacing: -0.3pt;
}

  h2 code {
    letter-spacing: -1.1pt;
  }

h3 {
  font-size: 12pt;
  font-weight: 700;
  margin: 12pt 0;
}

h6 {
  color: inherit;
  font-size: 8pt;
  line-height: inherit;
  text-transform: uppercase;
  margin: 12pt 0;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover, a:focus {
  opacity: 0.75;
}

p {
  margin: 6pt 0;
}

img {
  max-width: calc(100% + 2 * var(--gutter));
  margin: 18pt calc(-1 * var(--gutter));
}

code {
  font-family: 'Source Code Pro', monospace;
  padding: 0 3pt;
  background-color: #f2f5f5; /* lighten(#ecf0f1, 2%); */
}

pre {
  position: relative;
  font: 10pt/12pt 'Source Code Pro', monospace;
  margin: 18pt calc(-1 * var(--gutter));
  padding: 18pt var(--gutter);
  text-indent: 0;
  background-color: #ecf0f1;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

  pre code {
    font: inherit;
    padding: 0;
    background-color: inherit;
  }

/*****************\
* CUSTOM ELEMENTS *
\*****************/

#menu {
  margin: calc(-1 * var(--gutter));
  padding: var(--gutter);
  border-bottom: 1px solid #eee;
}

  .menu__title {
    /* inherits from h2 */
    line-height: 1;
    margin: 0;
  }

  .menu__show,
  .menu__hide {
    position: relative;
    top: 2pt;
    float: right;
  }

  .menu__list {
    list-style: none;
    padding: 0;
  }

  .menu__title,
  .menu__link,
  .menu__image-section,
  .menu__hide,
  .menu__show {
    display: block;
    padding: 6pt 12pt;
    text-decoration: none;
    color: black;
  }

  .menu__image {
    margin: 12pt 0;
    height: 32pt;
  }

  .menu__list,
  .menu__hide,
  :target .menu__show {
    display: none;
  }

  :target .menu__list,
  :target .menu__hide,
  .menu__show {
    display: block;
  }

  .menu__link--active {
    color: var(--primary);
  }

/***************\
* MEDIA QUERIES *
\***************/

@media screen and (max-width: 360px) {
  /* On the iPhone SE, the code elements can cause sideways scroll */
  code {
    word-break: break-all;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --gutter: 24pt;
  }

  body {
    margin: 48pt 120pt 24pt var(--sidebar-width);
  }

  pre {
    /* hide scrollbars */
    overflow-x: auto;
  }

  #menu {
    position: absolute;
    top: 48pt;
    left: 0;
    width: var(--sidebar-width);
    padding: 0;
    border: none;
    margin: 0;
  }

    .menu__list {
      display: block;
    }

    .menu__hide,
    .menu__show {
      display: none;
    }

    .menu__title,
    .menu__link,
    .menu__image-section {
      padding: 2pt 24pt;
    }
}

/********************\
* SYNTAX HIGHLIGHTER *
\********************/

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #a67f59;
	background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}
