/*************\
* BASE STYLES *
\*************/

:root {
  font: 12pt/16pt 'Source Sans Pro', sans-serif;
  --gutter: 12pt;
  --primary: #d35400;
  --sidebar-width: 240pt;
}

body {
  margin: var(--gutter);
}

h1 {
  font-size: 36pt;
  font-weight: 200;
  line-height: 48pt;
  margin: 36pt 0;
  letter-spacing: -1.5pt;
}

h2,
.menu__title {
  /* Note, includes non-base style */
  font-size: 18pt;
  font-weight: 300;
  margin: 32pt 0 12pt;
  letter-spacing: -0.3pt;
}

h3 {
  font-size: 12pt;
  font-weight: 700;
  margin: 12pt 0;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover, a:focus {
  opacity: 0.75;
}

p {
  margin: 6pt 0;
}

img {
  max-width: calc(100% + 2 * var(--gutter));
  margin: 18pt calc(-1 * var(--gutter));
}

code {
  font-family: 'Source Mono Pro', monospace;
  padding: 0 4pt;
  background-color: #f8f8f8;
}

pre {
  position: relative;
  font: 10pt/12pt 'Source Mono Pro', monospace;
  margin: 18pt calc(-1 * var(--gutter));
  padding: 18pt var(--gutter);
  text-indent: 0;
  background-color: #ecf0f1;
  overflow-x: scroll;
}

pre code {
  font: inherit;
  padding: 0;
  background-color: inherit;
}

/*****************\
* CUSTOM ELEMENTS *
\*****************/

#menu {
  margin: calc(-1 * var(--gutter));
  padding: var(--gutter);
  border-bottom: 1px solid #eee;
}

.menu__title {
  /* inherits from h2 */
  line-height: 1;
  margin: 0;
}

.menu__show,
.menu__hide {
  position: relative;
  top: 2pt;
  float: right;
}

.menu__list {
  list-style: none;
  padding: 0;
}

.menu__title,
.menu__link,
.menu__image-section,
.menu__hide,
.menu__show {
  display: block;
  padding: 6pt 12pt;
  text-decoration: none;
  color: black;
}

.menu__image {
  margin: 12pt 0;
  height: 32pt;
}

.menu__list,
.menu__hide,
:target .menu__show {
  display: none;
}

:target .menu__list,
:target .menu__hide,
.menu__show {
  display: block;
}

.menu__link--active {
  color: var(--primary);
}

/***************\
* MEDIA QUERIES *
\***************/

@media screen and (max-width: 360px) {
  /* On the iPhone SE, the code elements can cause sideways scroll */
  code {
    word-break: break-all;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --gutter: 24pt;
  }

  body {
    margin: 48pt 120pt 24pt var(--sidebar-width);
  }

  #menu {
    position: absolute;
    top: 48pt;
    left: 0;
    width: var(--sidebar-width);
    padding: 0;
    border: none;
    margin: 0;
  }

  .menu__list {
    display: block;
  }

  .menu__hide,
  .menu__show {
    display: none;
  }

  .menu__title,
  .menu__link,
  .menu__image-section {
    padding: 2pt 24pt;
  }
}


/********************\
* SYNTAX HIGHLIGHTER *
\********************/

.highlight .c { color: #998; font-style: italic; }
.highlight .err { color: #a61717; background-color: #e3d2d2; }
.highlight .k { font-weight: bold; }
.highlight .o { font-weight: bold; }
.highlight .cm { color: #998; font-style: italic; }
.highlight .cp { color: #999; font-weight: bold; }
.highlight .c1 { color: #998; font-style: italic; }
.highlight .cs { color: #999; font-weight: bold; font-style: italic; }
.highlight .gd { color: #000; background-color: #fdd; }
.highlight .gd .x { color: #000; background-color: #faa; }
.highlight .ge { font-style: italic; }
.highlight .gr { color: #a00; }
.highlight .gh { color: #999; }
.highlight .gi { color: #000; background-color: #dfd; }
.highlight .gi .x { color: #000; background-color: #afa; }
.highlight .go { color: #888; }
.highlight .gp { color: #555; }
.highlight .gs { font-weight: bold; }
.highlight .gu { color: #aaa; }
.highlight .gt { color: #a00; }
.highlight .kc { font-weight: bold; }
.highlight .kd { font-weight: bold; }
.highlight .kp { font-weight: bold; }
.highlight .kr { font-weight: bold; }
.highlight .kt { color: #458; font-weight: bold; }
.highlight .m { color: #099; }
.highlight .s { color: #d14; }
.highlight .na { color: #008080; }
.highlight .nb { color: #0086B3; }
.highlight .nc { color: #458; font-weight: bold; }
.highlight .no { color: #008080; }
.highlight .ni { color: #800080; }
.highlight .ne { color: #900; font-weight: bold; }
.highlight .nf { color: #900; font-weight: bold; }
.highlight .nn { color: #555; }
.highlight .nt { color: #000080; }
.highlight .nv { color: #008080; }
.highlight .ow { font-weight: bold; }
.highlight .w { color: #bbb; }
.highlight .mf { color: #099; }
.highlight .mh { color: #099; }
.highlight .mi { color: #099; }
.highlight .mo { color: #099; }
.highlight .sb { color: #d14; }
.highlight .sc { color: #d14; }
.highlight .sd { color: #d14; }
.highlight .s2 { color: #d14; }
.highlight .se { color: #d14; }
.highlight .sh { color: #d14; }
.highlight .si { color: #d14; }
.highlight .sx { color: #d14; }
.highlight .sr { color: #009926; }
.highlight .s1 { color: #d14; }
.highlight .ss { color: #990073; }
.highlight .bp { color: #999; }
.highlight .vc { color: #008080; }
.highlight .vg { color: #008080; }
.highlight .vi { color: #008080; }
.highlight .il { color: #099; }
